In [ ]:
# Your task is to create a Python script that analyses the records to calculate each of the following values:

    # The total number of months included in the dataset
    # The net total amount of "Profit/Losses" over the entire period
    # The changes in "Profit/Losses" over the entire period, and then the average of those changes
    # The greatest increase in profits (date and amount) over the entire period
    # The greatest decrease in profits (date and amount) over the entire period

In [ ]:
# Your analysis should align with the following results:

    # Financial Analysis
    # ----------------------------
    # Total Months: 86
    # Total: $22564198
    # Average Change: $-8311.11
    # Greatest Increase in Profits: Aug-16 ($1862002)
    # Greatest Decrease in Profits: Feb-14 ($-1825558)

In [ ]:
# In addition, your final script should both print the analysis to the terminal and export a text file with the results.

In [5]:
import os
import pandas as pd

In [8]:
in_path = "Starter_Code/PyBank/Resources/budget_data.csv"
out_path = "Output"

In [23]:
df_budget = pd.read_csv(in_path)
df_budget.tail()

      Date  Profit/Losses
81  Oct-16        -729004
82  Nov-16        -112209
83  Dec-16         516313
84  Jan-17         607208
85  Feb-17         382539

In [14]:
# The total number of months included in the dataset
len(df_budget['Date'].unique())

86

In [16]:
# The net total amount of "Profit/Losses" over the entire period
df_budget['Profit/Losses'].sum()

22564198

In [21]:
result = df_budget['Profit/Losses'].iloc[0] - df_budget['Profit/Losses'].iloc[1]
print(result)

1443517

In [20]:
result = df_budget['Profit/Losses'].iloc[1] - df_budget['Profit/Losses'].iloc[2]
print(result)

-631156

In [26]:
# The changes in "Profit/Losses" over the entire period, and then the average of those changes

# list of changes
delta_list = []

for i in range(len(df_budget['Profit/Losses']) - 1):
    delta = df_budget['Profit/Losses'].iloc[i + 1] - df_budget['Profit/Losses'].iloc[i]
    delta_list.append(delta)

print(delta_list)

average_delta = sum(delta_list) / len(delta_list)
print(round(average_delta, 2))

[-1443517, 631156, -1004755, 1581126, -289272, -1098929, 1167557, -806093, 1124485, -1736491, -408383, 604557, -294345, 1327485, 394323, 243585, -617439, -1530577, 1390390, -1130397, 1293604, 641758, -337413, -52031, -937192, 863841, -76245, -100481, -960729, 591856, 54930, 680102, -250254, -840415, 582358, -48628, -135256, 978586, -599210, -442789, 652924, -1005714, 1167373, -234900, -165147, -52275, -302320, 719028, -1825558, 1287083, -48303, 210234, -236414, 585165, -1400632, 839777, 465229, 317811, -760202, -71868, 795457, -182685, -1242836, 1371884, -445193, 10025, -1043998, 1350395, 80538, -1223250, 104148, 843924, -1808664, 1505005, 306402, -143603, -1266937, -162519, 1862002, -52986, -1627245, 616795, 628522, 90895, -224669]
-8311.11

In [38]:
# The greatest increase in profits (date and amount) over the entire period
max_delta = max(delta_list)
print(max_delta)
df_budget['Date'].iloc[delta_list.index(max_delta) + 1]

1862002

'Aug-16'

In [39]:
# Greatest Decrease in Profits: Feb-14 ($-1825558)
min_delta = min(delta_list)
print(min_delta)
df_budget['Date'].iloc[delta_list.index(min_delta) + 1]

-1825558

'Feb-14'